#################
## Custom
#################
node_modules/
dist/
package/
simplecleanup.zip

#################
## Chrome Extension Build Files
#################
*.crx
*.pem
*.zip

#################
## IDE & Environment
#################
.vscode/
.idx/
.DS_Store

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*.swo
